<div class="chartWidgetWrapper">
  <div class="header">
    <app-chart-widjet-header (onMenuItemChanged)="onMenuItemChangedEvent($event)"
                             [listItems]="chartWidgetBaseObj.listItems"
                             [listSubjectName]="chartWidgetBaseObj.listSubjectName"
                             [selectedListItem]="chartWidgetBaseObj.selectedListItem"
                             [widgetTitle]="chartWidgetBaseObj.widgetTitle"></app-chart-widjet-header>
  </div>
  <div class="chartBody">
    <span>chart was not implemented...</span>
  </div>
</div>
